.DS_Store

/examples/.terraform
/examples/terraform-provider-k14s

*.tfstate
*.tfstate.backup

/terraform-provider-k14s
/terraform-provider-k14s-darwin-amd64
/terraform-provider-k14s-linux-amd64
/terraform-provider-k14s-windows-amd64.exe
